---
logs.file: pinknoise.ndjson
logs.max_size: 100 # MB
logs.http.post.max_size: "1kb"
logs.tcp.payload.max_size: "1kb"
logs.udp.payload.max_size: "1kb"

rules.dir: "rules/rules-enabled"
rules.match.protocols: []

listen.interface: "lo"
listen.bpf.file: "filter.bpf"

filter.homenet.ipv4:
      - "127.0.0.1"
filter.homenet.ipv6:
      - "::1"

server.https.enable: true
server.https.port: 8080
server.https.dir: "var/https/static"
server.https.crt: "var/https/certs/cert.prm"
server.https.key: "var/https/certs/key.pem"
server.https.response.status_code: 200
server.https.response.headers:
      - Server: "Apache"

server.http.enable: true
server.http.port: 4443
server.http.dir: "var/http/static"
server.http.response.status_code: 200
server.http.response.headers:
      - Server: "Apache"
